<h2><%= @plant.name %></h2>
<h3><%= @plant.latin %></h3>
  
 <p>
  <strong>Rodzina:</strong>
  <%= @plant.family %>
</p>

<p>
  tu będzie foto...
</p>

<p>
  <strong>Uprawa:</strong>
  <%= @plant.condition %>
</p>


<%= link_to 'Back', plants_path %>
